<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Book search</title>
    </head>

    <body>
        <form th:method="POST" th:action="@{/books/search}">
            <label for="query">Enter search query: </label>
            <input type="text" id="query" name="query">
            <br/>
            <input type="submit" value="Search!"/>
        </form>

        <div th:if="${books}">
            <div th:if="${books.isEmpty()}">
                <span style="color: red">Books not found!</span>
            </div>

            <div th:each="book : ${books}">
                <a th:href="@{/books/{id}(id=${book.getBookId()})}">
                    <p th:text="${book.getTitle()}
                + ',' + ${book.getAuthorName()}
                + ' ' + ${book.getAuthorSurname()}
                + ', '
                + ${book.getYear()}">book</p>
                </a>
                <div th:if="${book.getOwner()!=null}">
                    <span>The book is now: </span><span th:text="${book.getOwner().getFullName()}">Person name</span>
                </div>
                <div th:if="${book.getOwner()==null}">
                    <span>Book is free</span>
                </div>
            </div>
            <p></p>
            <form th:method="GET" th:action="@{/books}">
                <input type="submit" value="Go to books list">
            </form>
        </div>
    </body>
</html>
