<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Show User</title>
    </head>

    <body>
        <p th:text="'Full name: ' + ${user.getFullName()}">VALUE</p>

        <div th:if="${books.isEmpty()}">
            <p>The man hasn't picked up any books yet</p>
            <hr/>
        </div>

        <div th:if="${!books.isEmpty()}">
            <hr/>
            <b>Books:</b>
            <br/>
            <table th:each="book: ${books}">
                <tr>
                    <td>
                        <span th:text="
                        ${book.getTitle()}
                + ', '+ ${book.getAuthorName()}
                + ' ' + ${book.getAuthorSurname()}
                +', ' + ${book.getYear()}"
                              th:style="${book.isExpired()} ? 'color: red' : 'color: black'">book</span>
                    </td>
                </tr>
            </table>
            <hr/>
        </div>

        <form th:method="GET" th:action="@{/user/{id}/editUser(id=${user.getId()})}">
            <input type="submit" value="Edit Person">
        </form>

        <form th:method="DELETE" th:action="@{/user/{id}/deleteUser(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form>

        <form th:method="GET" th:action="@{/user}">
            <input type="submit" value="Go to people list"/>
        </form>
    </body>
</html>
